        <nav>
	        <ul class="nav nav-pills pull-right">
		        <li><a href="{{ SITEURL }}/" title="home"><i class="fa fa-home"></i></a></li>

{#
		        <li><a href="{{ SITEURL }}/archives.html" title="archives"><i class="fa fa-archive"></i></a></li>
		        <li><a href="{{ SITEURL }}/contact.html" title="contact"><i class="fa fa-envelope"></i></a></li>
#}
                <li><a href="#not-implemented-yet" title="archives"><i class="fa fa-archive"></i></a></li>
                <li><a href="http://twitter.com/loginavailable" title="contact"><i class="fa fa-envelope"></i></a></li>

	        </ul>
        </nav>
